# Общие правила
.DS_Store
*.log

# Клиентская часть
/client/node_modules
/client/.pnp
/client/.pnp.js
/client/coverage
/client/build
/client/.env*
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

# Серверная часть
/server/node_modules
/server/.env
/server/*.log