.catalogCategory {
    user-select: none;
    grid-area: c;
    background: blue;
    display: flex;
    flex-direction: column;
    width: 100%;
}


.disabledButton {
    opacity: 0.5;
    cursor: not-allowed;
}