.navbar {
    margin-left: auto;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin-right: 30px;
    padding: 0;
    gap: 70px;
}

.navbar img {
    width: 70px;
}

.navButton {
    background: blue;
    color: white;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: transform 0.2s, opacity 0.2s;
}

.navButton:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.navButton:focus {
    outline: none;
}

.saveForm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    border: none;
    border-radius: 4px;
    padding: 20px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 275px;
    height: 200px;
}

.saveForm span {
    color: white;
    font-size: 18px;
}

.saveForm input {
    padding: 8px;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #444;
    color: white;
}

.saveForm input:focus {
    outline: none;
    border-color: #777;
}

.saveForm button {
    color: white;
    border: none;
    padding: 10px;
    width: 100px;
    align-self: center;
    transition: transform 0.2s, opacity 0.2s;
}

.saveForm .ok {
    background: blue;
}

.saveForm .cancel {
    background: red;
}

.saveForm button:hover {
    transform: scale(1.1);
    opacity: 0.8;
}