.dropdownObjects {
}

.dropdownObjects ul {
    list-style: none;
    padding: 8px;
    margin: 0;
}

.dropdownObjects li:hover {
    /*cursor: pointer;*/
}

.dropdownObjects button {
    /*width: 100%;*/
    /*text-align: left;*/
    /*background: none;*/
    /*border: none;*/
    /*cursor: pointer;*/
}