.header {
    grid-area: h;
    background-color: cornflowerblue;
    color: white;
    display: flex;
    align-items: center;
}

.header .logo {
    margin-left: 100px;
}

.header span {
    margin-left: 30px;
    font-size: xx-large;

}