.header {
    grid-area: h;
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    border: 0 solid aquamarine;
    border-bottom-width: 1px;
}

.header .logo {
    margin-left: 100px;
}

.header span {
    margin-left: 30px;
    font-size: xx-large;

}