.catalogObjects {
    color: white;
    width: 100%;
}

.button {
    width: 100%;
    padding-top: 10px;
    padding-left: 10%;
    border: 0;
    background-color: blue;
    color: white;
    cursor: pointer;
    outline: 0;
    font-size: 30px;
    display: inline-flex;

}
.button:hover {
    background-color: rgba(0, 0, 0, 0.14);
}
.button img {
    width: 40px;
    /*margin-right: 20px;*/
}

.dropdown {

}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 8px 12px;
}

li:hover {
    background-color: rgba(0, 0, 0, 0.14);
    cursor: pointer;
}
